@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article > h2 {
    text-align: center;
}

article p {
    text-align: justify;
}

article::after {
    content: 'Esse artigo foi impresso do site "www.google.com.br"';
}