@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: blanchedalmond;
}

header > h1 {
    text-align: center;
    padding-top: 10px;
}

menu ul {
    list-style-type: none;
}

menu li {
    background-color: rgb(228, 151, 58);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

article {
    padding-top: 20px;
    width: 600px;
    display: block;
    margin: auto;
    text-align: center;
}

article p {
    padding-top: 20px;
    text-align: justify;
}