@charset 'UTF-8';

/* Todas as demais mídias */

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */

@media screen and (min-width: 768px) {
    #burger {
        display: none;
    }

    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
        width: 121px;
    }

    main {
        width: 700px;
    }
}